        body {
            margin:0;
            font-family:Arial;
            background:#f4f6f9;
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
        }

        .form-container {
            background:white;
            padding: 10px 20px;
            border-radius:10px;
            width:460px;
            box-shadow:0 5px 15px 15px rgba(0,0,0,0.1);
        }

        h1 {
            text-align: center;
            color: #1e1e2f;
            margin-bottom: 25px;
        }

        .form-box {
            border: 1px solid #ddd;
            padding: 10px 20px;
            border-radius: 8px;
        }

        .input-group {
            display:flex;
            align-items:center;
            border:1px solid #ccc;
            border-radius:5px;
            margin-bottom:20px;
            padding: 10px 20px;
            margin-top: 20px;
            font-size: 22px;
        }

        .input-group i {
            margin-right: 10px;
            color: #1e1e2f;
        }

        .input-group input {
            border: none;
            outline: none;
            flex: 1;
            font-size: 18px;
            font-weight: bold;
            color: rgb(12, 0, 104);
        }

        .eye {
            cursor: pointer;
            color: #666;
        }

        button {
            width:100%;
            padding:10px;
            background:#1e1e2f;
            color:white;
            border:none;
            border-radius:5px;
            font-size:20px;
            cursor:pointer;
            font-weight: bold;
            margin-bottom: 20px;
        }

        button:hover {
            background: #2c3e50;
        }

        .forgot {
            text-align: right;
            margin-bottom: 15px;
            font-size: 17px;
            font-weight: bold;
        }

        .forgot a {
            color: #ff9800;
            text-decoration: none;
        }

        .link {
            display: flex;
            font-size: 20px;
            gap: 20px;
            justify-content: center;
            font-weight: bold;
        }

        .link a {
            color: #ff9800;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
        }